{% extends 'baseAdmin.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Gestion des catégories</h1>

        <div class="row mt-5">
            <div class="col-5">

                <h2>Liste des catégories disponibles :</h2>
                <table class="table table-hover mt-2">
                    <thead>
                    <tr class="table-active">
                        <th scope="col">Id</th>
                        <th scope="col">Nom de la catégorie</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    {% for category in categories %}
                        <tbody>
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td><div class="btn btn-danger" onclick="window.location.href ='{{ path('admin_delete_category', {'id' : category.id}) }}'">Supprimer</div></td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            <div class="col-4 offset-2">
                <h2>Créer une nouvelle catégorie :</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                <hr class="my-5">


                <h2>Modifier une catégorie :</h2>
                {#{{ form_start(formModify) }}#}
                {#{{ form_widget(formModify) }}#}
                {#{{ form_end(formModify) }}#}

                <form action="{{ path('admin_modify_category') }}" method="post">
                    <div class="form-group" >
                        <label for="Select">Choisissez la catégorie :</label>
                        <select class="custom-select mr-sm-2" id="Select" name="Select" required>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Choisissez un nouveau nom :</label>
                        <input type="text" class="form-control" id="newname" name="newname" placeholder="Nouveau nom" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Modifier la catégorie</button>
                </form>
            </div>

        </div>


    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}
